.controls {
    margin-top:2em;
    margin-bottom: 2em;
    clear: both;    
}

ul {
    margin-top:0px;
    line-height:0px;
}

ul:first-child {
    margin-top:10px;
}

.user-words {
    font-size:12px;
}

.input-control {
    margin-top: 1em;
    margin-bottom:2em;
    float: right;
}

.button-start-over {
    margin-top: 0em;
    clear: both;
    float: right;
}

.game-info {
    margin: 0.8em;
}

.board-container {
    min-width: 480px;
    float: right;
    border-width: 3px;
    margin-top: 0.5em;
}

.board {
    float: right;
    margin-bottom: 1em;
    margin-right: 1em;
}
