.controls {
    margin-top:2em;
    margin-bottom: 2em;
    clear: both;    
}

ul {
    margin-top:0px;
    line-height:0px;
}

ul:first-child {
    margin-top:10px;
}

.input-control {
    margin-top: 1em;
    margin-bottom:2em;
    float: right;
}

.button-start-over {
    margin-top: 1em;
    clear: both;
    float: right;
}

.button-solve {
    margin-top: 0em;
    clear: both;
    float: right;
}

.user-words {
    clear: both;
    float: left;
    margin-left: 3em;
}

.user-words-title {
    clear: both;
    float: left;
    margin: 0.8em;
}

.computer-words {
    clear: both;
    float: right;
    margin-right: 3em;
}

.computer-words-title {
    clear: both;
    float: right;
    margin: 0.8em;
    margin-right: 3em;
}

.board-container {
    min-width: 250px;
    float: right;
    border-width: 3px;
    margin-top: 0.5em;
}

.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-right: 1em;
}
